<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <title>Alumno</title>
</head>
<body>
    <br>
    
    <br>
    <div class="container offcanvas-start show text-bg-dark ">
        <center>
            <br>
            <%-include('partials/encabezado.html');%>
            <br>
            <br>
            <form  method="post" >
                <label class="fs-5" for="">Matricula:</label>
                <input type="number" name="matricula" id="matricula" required="true">
                <br>
                <br>
                <label class="fs-5" for="">Nombre:</label>
                <input type="text" name="nombre" id="nombre" required="true">
                <br>
                <br>
                <label class="fs-5" for="">Domicilio:</label>
                <input type="text" name="domicilio" id="domicilio" required="true">
                <br>
                <br>
                <label class="fs-5" for="">Sexo:</label>
                <select name="sexo" id="sexo">
                    <option value="Femenino">Femenino</option>
                    <option value="Masculino">Masculino</option>
                </select>
                <br>
                <br>
                <label class="fs-5" for="">Especialidad:</label>
                <select name="especialidad" id="especialidad">
                    <option value="Informatica">Informatica</option>
                    <option value="Mecatronica">Mecatronica</option>
                    <option value="Terapia">Terapia fisica</option>
                    
                </select>
                <br>
                <br>
                <button class="fs-5 btn btn-secondary" id="btnInsertar">Insertar</button>
                <button class="fs-5 btn btn-secondary" id="btnMostrarTodos">Mostrar Alumnos</button>
                <button class="fs-5 btn btn-secondary" id="btnBuscar">Buscar</button>
                <button class="fs-5 btn btn-secondary" id="btnBorrar">Borrar Alumno</button>
                <button class="fs-5 btn btn-secondary" id="btnActualizar">Actualizar</button>
                <button class="fs-5 btn btn-danger" type="reset">Limpiar</button>
                <br>
                <br>
                <br>
                

            </form>
            <table class="table table-striped table-hover table-sucess " style="background-color: aliceblue;" id="tablaMostrar">
                
                <thead>
                    <tr>
                      <th>ID</th>
                      <th>Matrícula</th>
                      <th>Nombre</th>
                      <th>Domicilio</th>
                      <th>Sexo</th>
                      <th>Especialidad</th>
                    </tr>
                  </thead>
                  <tbody>
    
                  </tbody>
        
                
            </table>
            
        </center>
                <br>
                
                
                <%-include('partials/piePagina.html');%>
    </div>
<br>
<br>
    
</body>
    <script>
        //insertar
        document.querySelector('#btnInsertar').addEventListener('click', ()=>{

            inputMatricula = document.getElementById('matricula').value;
            inputNombre = document.getElementById('nombre').value;
            inputDomicilio = document.getElementById('domicilio').value;
            inputSexo = document.getElementById('sexo').value;
            inputEspecialidad = document.getElementById('especialidad').value;

            console.log(inputMatricula)

            fetch('http://programacionweblvbg.com:4100/insertar', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ 
                matricula: inputMatricula, 
                nombre: inputNombre,
                domicilio: inputDomicilio,
                sexo: inputSexo,
                especialidad: inputEspecialidad })
            })
            .then(res => res.json())
            .then(res=> {
                console.log(res);
            });
        });

        //mostrar todos
        document.querySelector('#btnMostrarTodos').addEventListener('click', ()=>{
            event.preventDefault();
            fetch('http://programacionweblvbg.com:4100/mostrarTodos', {
                method: 'GET',
                headers: {
                    "Content-Type": "application/json",
                },
                
            })
            .then(res => res.json())
            .then(res => {
                const tablita = document.querySelector('#tablaMostrar tbody');
                tablita.innerHTML = ''; 
                res.forEach(dato => {
                    const fil = document.createElement('tr');
                    fil.innerHTML = `
                    <td>${dato.id}</td>
                    <td>${dato.matricula}</td>
                    <td>${dato.nombre}</td>
                    <td>${dato.domicilio}</td>
                    <td>${dato.sexo}</td>
                    <td>${dato.especialidad}</td>
                    `;
                    tablita.appendChild(fil);
                });
            });
        });
        //buscar por matricula
        document.querySelector('#btnBuscar').addEventListener('click', event => {
            event.preventDefault();
            const matricula = document.getElementById('matricula').value;
              console.log(matricula)
            fetch(`http://programacionweblvbg.com:4100/buscarAlumno?matricula=${matricula}`, {
              method: 'GET',
              headers: {
                "Content-Type": "application/json",
              }
            })
            .then(res => res.json())
            .then(res => {
              const tablita = document.querySelector('#tablaMostrar tbody');
              tablita.innerHTML = ''; // Vacía la tabla antes de agregar nuevos datos
                  res.forEach(dato => {
                      const fila = document.createElement('tr');
                      fila.innerHTML = `
                        <td>${dato.id}</td>
                        <td>${dato.matricula}</td>
                        <td>${dato.nombre}</td>
                        <td>${dato.domicilio}</td>
                        <td>${dato.sexo}</td>
                        <td>${dato.especialidad}</td>
                      `;
                      tablita.appendChild(fila);
                  });
              
              
            });
          });
        
        //borrar
        document.querySelector('#btnBorrar').addEventListener('click', event => {
        event.preventDefault();
        const matricula = document.getElementById('matricula').value;
        console.log(matricula)
        fetch(`http://programacionweblvbg.com:4100/borrarMatricula?matricula=${matricula}`, {
        method: 'DELETE',
        headers: {
            "Content-Type": "application/json"
        }
        })
        .then(res => res.json())
        .then(res => {
        
        console.log(res);
        });
    });
        //Botón para actualizar
        document.querySelector('#btnActualizar').addEventListener('click', event => {
        event.preventDefault();
        inputMatricula = document.getElementById('matricula').value;
        inputNombre = document.getElementById('nombre').value;
        inputDomicilio = document.getElementById('domicilio').value;
        inputSexo = document.getElementById('sexo').value;
        inputEspecialidad = document.getElementById('especialidad').value;
  
        console.log(inputMatricula, inputNombre, inputDomicilio, inputSexo, inputEspecialidad)
    
        fetch(`http://programacionweblvbg.com:4100/actualizar?matricula=${inputMatricula}`, {
        method: 'PUT',
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
                matricula: inputMatricula,
                nombre: inputNombre,
                domicilio: inputDomicilio,
                sexo: inputSexo,
                especialidad: inputEspecialidad
        })
        })
        .then(res => res.json())
        .then(res => {
        
        console.log(res);
        });
    });
    </script>
</html>